<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Form</h1>
<form action="#" th:action="@{/greeting}" th:object="${users}" method="post">
    <p>Id: <input type="text" th:field="*{userId}" /></p>
    <p>First Name: <input type="text" th:field="*{firstName}" /></p>
    <p>Last Name: <input type="text" th:field="*{lastName}" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>

    <h1>Result</h1>
    <p th:text="'id: ' + ${users.userId}" />
    <p th:text="'firstname: ' + ${users.firstName}" />
    <p th:text="'lastname: ' + ${users.lastName}"/>
</form>
</body>
</html>